.body {
  overflow-y: hidden;
}

.clip-hexagon {
  clip-path: polygon(25% 0%, 85% 0%, 100% 100%, 25% 100%, 0% 80%);
}

.clip-abstract {
  clip-path: polygon(
    0 0,
    85% 5%,
    100% 30%,
    90% 60%,
    100% 100%,
    15% 95%,
    0% 60%,
    10% 30%
  );
}

.clip-hexagon {
  clip-path: polygon(25% 0%, 85% 0%, 100% 100%, 25% 100%, 0% 80%);
}

.clip-abstract {
  clip-path: polygon(
    0 0,
    85% 5%,
    100% 30%,
    90% 60%,
    100% 100%,
    15% 95%,
    0% 60%,
    10% 30%
  );
}

.marquee-container {
  width: 100%; /* O un ancho fijo */
  overflow: hidden; /* Escondemos el contenido fuera del contenedor */
}

.marquee-content {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  display: inline-block; /* Asegura que el contenido no ocupe todo el ancho */
}

.om-marquee[_ngcontent-ng-c733378029] {
  --om-marquee-animation-duration: 20s;
  --om-marquee-gap: 1rem;
  --om-marquee-reverse: ;
  --om-marquee-pause: paused;
  width: 100%;
  height: 10%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
.contenidoDeCartas {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.card {
  position: relative;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow-y: hidden;
}

.card.selected {
  z-index: 10;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  word-wrap: break-word;
  white-space: normal;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

