<div id="container">
  <div id="slider">
    <div class="slide sliderItem">1</div>
    <div class="slide sliderItem">2</div>
    <div class="slide sliderItem">3</div>
    <div class="slide sliderItem">4</div>
    <div class="slide sliderItem">5</div>
    <div class="slide sliderItem">6</div>
    <div class="slide sliderItem">7</div>
  </div>
</div>

<div id="scrubber">
  <div id="handle"></div>
</div>

<div class="controls">
  <div (click)="prevElement()">Prev</div>
  <div (click)="nextElement()">Next</div>
</div>
