@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: spinOnce 2s linear;
}

header {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
