<div class="card-container overflow-hidden">
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <div
          class="text-center bg-white p-8 rounded-3xl shadow-md border-2 border-black z-20"
        >
          <h2 class="text-3xl font-semibold mb-6 text-black">Quiénes somos</h2>
          <p class="text-[#333] text-lg leading-relaxed">
            En <span class="font-semibold">Ruido</span>somos un equipo
            apasionado por la tecnología, la educación y la creatividad. Nuestro
            objetivo es ofrecer experiencias únicas de aprendizaje para que
            cualquier persona pueda explorar, aprender y programar sin límites.
          </p>
          <p class="text-[#333] text-lg leading-relaxed mt-4">
            Combinamos diseño, narrativa y código para construir una plataforma
            donde el conocimiento es accesible, divertido y envolvente.
          </p>
        </div>
      </div>
      <div class="card-back">
        <div class="flex">
          <video
            src="assets/22566-328624783.mp4"
            autoplay
            muted
            loop
            playsinline
            class="w-full h-[55vh] object-none z-30"
          ></video>
        </div>
      </div>
    </div>
  </div>
</div>
